/BrainFackIDE__
/.vs
/BrainfuckIDE/bin
/BrainfuckIDE/obj
/TextCodeMaker/obj
/TextCodeMaker/bin
/TextManager/obj
/TextManager/bin
/WpfUtils/obj
/WpfUtils/bin
/Interpreter/obj
/Interpreter/bin
/TestFile
/packages
/Refacter/bin
/Refacter/obj
/BrainfuckInterpreter/obj
