/BrainFackIDE__
/.vs
/BrainfuckIDE/bin
/BrainfuckIDE/obj
/TextCodeMaker/obj
/TextCodeMaker/bin
/TextManager/obj
/TextManager/bin
/WpfUtils/obj
/WpfUtils/bin
/Interpreter/obj
/Interpreter/bin
/TestFile
/packages/AvalonEdit.5.0.4
/packages/Microsoft.Xaml.Behaviors.Wpf.1.0.1
/packages/gong-wpf-dragdrop.2.0.1
/Refacter/bin
/Refacter/obj
/BrainfuckInterpreter/obj
